{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" style="padding-top:5%">

  <hr class='centered'>

  <div id='book-title'>
    <h1> {{ book['title'] }} </h1>
  </div>

  <div id='book-metadata'>
    <div id='book-cover'>
      <img  src="/static/{{ book['cover'] }}" alt='To Kill A Mockingbird - Book Cover'>
    </div>

    <div id='book-rating'>
      <p> BookBrain Smart Rating: {{ book['average_review'] }}% </p>
    </div>

    <div id='book-author'>
      <p> By {{ book['author'] }} </p>
    </div>

    <hr>

    <div id='book-purchase-links'>
      <div>
        <table id='book-purchase-links-table'>
          <th> Get a copy at these retailers: </th>
          <tr>
            <td>
              <button>
                Amazon
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button>
                Barnes & Noble
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button>
                eBay
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id='book-text'>
    <div class='container'>
      <h3>
        Description:
      </h3>
      <div id='book-description'>
        {{ book['description'] }}
      </div>
    </div>
  </div>

</div>
{% endblock %}
