{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" style="padding-top:3em;">
  <div id='book-metadata'>
    {% if book is not none %}
      <div class='row'>
        <p id='book-id' style='display: none;'>{{ book['id'] }}</p>

        <div class='col-2 align-middle text-center' style='margin-left: 5%; max-width: 349px;'>

          <div class='card align-middle justify-content-center' style='margin-bottom: 3em;'>
            <img style="height: 460px; width: 309px;" class='img-thumbnail' src="{{ book['cover'] }}" alt="{{ book['title'] }} - Book Cover">
            <div class='card-body'>
              <h3 class='card-title' style='max-width: 309px;'>{{ book['title'] }}</h3>
              <p style='padding-bottom: 1em;' class='card-text'>{{ book['author'] }}</p>
              {% if g.user %}
                {% if saved %}
                  <button id='delete-button' type='button' class='btn btn-primary'>Removed From Saved Books</button>
                {% else %}
                  <button id='save-button' type="button" class='btn btn-primary'>Save</button>
                {% endif %}
              {% endif %}
            </div>
          </div>

          <div class='card align-middle' style='max-width: 349px; margin-bottom: 2em;'>
            <div class='card-body'>
              <h3 class='card-title'>Similar books</h3>

              <div id='book-similar-books'>
                <div id='similarBooksCarouselIndicators' class='carousel slide' data-ride='carousel'>
                  <ol class='carousel-indicators'>
                    <li data-target='#similarBooksCarouselIndicators' data-slide-to='0' class='active'></li>
                    <li data-target='#similarBooksCarouselIndicators' data-slide-to='1'></li>
                    <li data-target='#similarBooksCarouselIndicators' data-slide-to='2'></li>
                    <li data-target='#similarBooksCarouselIndicators' data-slide-to='3'></li>
                    <li data-target='#similarBooksCarouselIndicators' data-slide-to='4'></li>
                  </ol>

                  <div class='container'>
                    <div class='offset-md-2'>
                    <div class='center-block carousel-inner'>

                      <div style='width: 148px; height: 220px;' class='carousel-item active'>
                        <a href='/book/{{similar[0]["id"]}}'>
                          <img class='img center-block' style='width: 148px; height: 220px;' src='{{ similar[0]["cover"] }}'>
                        </a>
                      </div>

                      {% for b in similar[1:] %}
                      <div style='width: 148px; height: 220px;' class='justify-content-center carousel-item'>
                        <a href='/book/{{b["id"]}}'>
                          <img style='width: 148px; height: 220px;' src='{{ b["cover"] }}'>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#similarBooksCarouselIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#similarBooksCarouselIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div id='book-description' class='container-fluid' style='margin-bottom: 2em; width: 100%;'>
            <h5 class='card-header'>
              Description
            </h5>

            <div class='card'>

              <div class='card-body'>

                <p class='card-text'>
                  {{ book['description'] }}
                </p>

              </div>

            </div>
          </div>

          <div id='book-details' class='container-fluid' style='margin-bottom: 2em; width: 100%;'>
            <h5 class='card-header'>
              Misc. Details
            </h5>
            <div class='card'>
              <div class='card-body'>
                <p class='card-text'>
                  {{ book['details'] }}
                </p>
              </div>
            </div>
          </div>

          <div id='book-purchase-links' class='container-fluid' style='margin-bottom: 2em;'>
            <h5 class='card-header'>
              Link to Purchase
            </h5>
            <div class='card'>
              <div class='card-body'>
                <a href="{{ book['purchase_link'] }}">
                  <img style='max-width: 100%; height: auto;' src='/static/amazon-purchase.jpg' alt='Buy it on Amazon!'>
                </a>
              </div>
            </div>
          </div>



        </div>

        <div class='col-xl' style='margin-left: 3%; margin-right: 5%;'>

          <div class='container-fluid' id='book-rating' style='margin-bottom: 3%;'>
            <div class='card'> 
              <h5 class='card-header'>Rating</h5>
              <div class='card-body text-center'>

                <p class='card-text lead'>
                  BookBrain Averaged Internet Rating: {{ book['average_review'] }}
                </p>

                <p class='card-text'>
                  This rating is based on a weighted sum of ratings and reviews pulled from multiple other websites and sources.
                </p>

              </div>
            </div>
          </div>

          <div class='container-fluid' id='book-critic-review' style='margin-bottom: 3%;'>
            <div class='card'>
              <h5 class='card-header'>Critic Reviews From IDreamBooks</h5>
              <div class='card-body'>
                <p class='card-text'>
                    <div class='container-fluid' id="idb_iframe_container">
                    </div>

                      <script type="text/javascript">
                        var isbn = parseInt({{ book['isbn13'] }}); // Replace with ISBN / EISBN / ASIN of the book
                        //var isbn = 9780743273565;
                        //console.log(isbn);
                        var api_key = "606f342ab6dc508aa72d9332945344c9e47c7f57"; //Replace with the developer key (Submit the form to get a key)

                        //Optional Settings
                        var smiley = 'true'; // Change to false if do not want to show smiley with each review
                        var width = 700;     // Width of the reviews iframe
                        var height = 400;    // Height of the reviews iframe


                        // DO NOT EDIT   
                        (function() {
                        var wf = document.createElement('script');
                        var host = "idreambooks.com";  
                        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                        '://'+ host+'/reviews_widget.js?api_key='+ api_key +'&isbn='+ isbn +
                        '&smiley='+ smiley +'&width='+width + '&height=' + height;
                        wf.type = 'text/javascript';
                        wf.async = 'true';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(wf, s);
                        })();

                      </script>
                  </p>
                </div>
            </div>
          </div>

          {% if review['twitter_review']|length > 0 %}
          <div class='container-fluid' id='book-twitter-review' style='margin-bottom: 3%;'>
            <div class='card'>
              <h5 class='card-header'>
                <img style='height: 35px; width: auto; margin-right: 0.5em;' src="/static/twitter-logo.png" alt="Twitter-Logo">
                Tweets Mentioning This Book
              </h5>
              <div class='card-body'>
                <div class='container rounded'>
                  <div class='row'>
                    {% for i in range(review['twitter_review']|length) %}
                    {% if i < 8 %}
                    <div class='col-sm-6'>
                      <div style='height: 100%; width: 100%;'
                        <p class='card-text'>
                          <div class='card' style='height: 100%; width: 100%;'>
                            <div class='card-body rounded'>

                              <div style='margin-bottom: 1em;'>
                                <span>{{ review['twitter_review'][i]['review_content'] }}</span>
                              </div>

                              <div class='card-subtitle text-muted mb-2'>
                                <div class='subjectivity'>
                                  <span>Subjectivity: {{ '%.2f' % sentiments['twitter_review_sentiment'][i].subjectivity }} </span>
                                </div>

                                <div class='polarity'>
                                  <span>Polarity: {{ '%.2f' % sentiments['twitter_review_sentiment'][i].polarity }}</span>
                                </div>
                              </div>

                            </div>
                          </div>
                        </p>
                      </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if review['amazon_review']|length %}
          <div class='container-fluid' id='book-amazon-review' style='margin-bottom: 3%;'>
            <div class='card'>
              <h5 class='card-header'>
                <img style='height: 35px; width: auto; margin-right: 0.5em;' src="/static/amazon-purcase.jpg" alt="Amazon-Logo">
                Reviews from Amazon
              </h5>
              <div class='card-body'>
                <p class='card-text'>
                {% for i in range(review['amazon_review']|length) %}
                <div class='card'>
                  <div class='card-body rounded'>
                    <div class='row'>
                      <div>
                        {{ review['amazon_review'][i]['review_content']}}
                      </div>
                    </div>

                    <div class='row'>
                      <div class='col-md-3 offset-md-9 justify-content-end text-right card-subtitle text-muted mb-2'>
                        <div>
                          Written by {{ review['amazon_review'][i]['review_author'] }}
                        </div>

                        <div class='subjectivity'>
                          <span>
                            Subjectivity {{ '%.2f' % sentiments['amazon_review_sentiment'][i].subjectivity }}
                          </span>
                        </div>

                        <div class='polarity'>
                          <span>
                            Polarity {{ '%.2f' % sentiments['amazon_review_sentiment'][i].polarity }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                </p>
              </div>
            </div>
          </div>
          {% endif %}


          {% if review['BN_review']|length > 0 %}
          <div class='container-fluid' id='book-BN-review' style='margin-bottom: 3%;'>
            <div class='card'>
              <h5 class='card-header'>
                <img style='height: 35px; width: auto; margin-right: 0.5em;' src="/static/barnes-and-noble-logo.jpg" alt="BN-Logo">
                Reviews from Barnes and Noble
              </h5>
              <div class='card-body'>
                <p class='card-text'>
                {% for i in range(review['BN_review']|length) %}
                <div class='card'>

                  <div class='card-body rounded'>

                    <div class='row'>
                        <div>
                        {{ review['BN_review'][i]['review_content'] }}
                        </div>
                    </div>

                    <div class='row'>
                      <div class='col-md-3 offset-md-9 justify-content-end text-right card-subtitle text-muted mb-2'>
                        <div>
                          Written by {{ review['BN_review'][i]['review_author'] }}
                        </div>

                        <div class='subjectivity'>
                          <span>Subjectivity {{ '%.2f' % sentiments['BN_review_sentiment'][i].subjectivity }}</span>
                        </div>

                        <div class='polarity'>
                          <span>Polarity {{ '%.2f' % sentiments['BN_review_sentiment'][i].polarity }}</span>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

                {% endfor %}
                </p>
              </div>
            </div>
          </div>
          {% endif %}

          {% if review['reddit_review']|length > 0 %}
          <div class='container-fluid' id='book-reddit-review' style='margin-bottom: 5%;'>
            <div class='card'>
              <h5 class='card-header'>
                <img style='height: 35px; width: auto; margin-right: 0.5em;' src="/static/reddit-logo.png" alt="Reddit-Logo">

                Reddit Posts About This Book
              </h5>
              <div class='card-body'>
                <p class='card-text'>
                {% for i in range(review['reddit_review']|length) %}
                  {% if i < 6 %}
                  <div class='card'>
                    <div class='card-body rounded'>
                      <div class='row'>
                        <div>
                          {{ review['reddit_review'][i]['review_content'] }}
                        </div>
                      </div>

                      <div class='row'>
                        <div class='col-md-3 offset-md-9 justify-content-end text-right card-subtitle text-muted mb-2'>
                          <div>
                            Written by {{ review['reddit_review'][i]['review_author'] }}
                          </div>

                          <div class='subjectivity'>
                            <span>Subjectivity {{ '%.2f' % sentiments['reddit_review_sentiment'][i].subjectivity }}</span>
                          </div>

                          <div class='polarity'>
                            <span>Polarity {{ '%.2f' % sentiments['reddit_review_sentiment'][i].polarity }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>
          </div>
          {% endif %}

      </div>

    </div>
    {% else %}
      <div class='justify-content-center text-center'>
        <div style='padding: 5%;'>
          <p> Sorry, but BookBrain is still undergoing development, and we do not currently have this book listed. </p>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<style>
.book-thumbnail {
  max-width: 120px;
  max-height: 150px;
  height: 150px;
  width: 120px;
}

.large-book-cover {
  height: 460px;
  width: 309px;
}
</style>

  {{ super() }}

  <script>
    function register_save_button() {
      $('#save-button').mouseup( function() {
        $.ajax({
          url: '/profile',
          type: 'POST',
          dataType: 'json',
          data: { book_id: $('#book-id').text() },
          contentType: "application/json; charset=utf-8;"
        });

        $(this).attr('disabled', 'true');

        var newButton = "<button id='delete-button' class='btn btn-primary' type='button'>Remove From Saved Books</button>";
        $(this).parent().append(newButton);
        $(this).css("display", "none");
        register_delete_button();
      });
    }

    function register_delete_button() {
      $('#delete-button').mouseup( function() {
        $.ajax({
          url: '/profile',
          type: 'POST',
          dataType: 'json',
          data: { book_id: $('#book-id').text(), remove: true },
          contentType: "application/json; charset=utf-8;"
        });

        $(this).attr('disabled', 'true');

        var newButton = "<button id='save-button' class='btn btn-primary' type='button'>Remove From Saved Books</button>";
        $(this).parent().append(newButton);
        $(this).css("display", "none");
        register_save_button();
      });
    }

    $(document).ready(function() {
      register_save_button();
      register_delete_button();

      $('.subjectivity').each(function() {
        var toolTipIcon = "<img src='/static/help.png' style='height: 15px; width: 15px;' class='sentiment-tool-tip' data-toggle='tooltip' data-placement='right' title='The subjectivity score measures how subjective a review is with 0 being completely objective and 1 being completely subjective. BookBrain calculates these scores based on machine learning and the word choice of the reviewer.'>";
        $(this).append(toolTipIcon);
      });

      $('.polarity').each(function() {
        var toolTipIcon = "<img src='/static/help.png' style='height: 15px; width: 15px;' class='sentiment-tool-tip' data-toggle='tooltip' data-place,ent='right' title='The polarity score measure how positive or negative a review is with -1 being completely negative and 1 being complete positive. BookBrain calculates these scores based on machine learning and the word choice of the reviewer.'>";
        $(this).append(toolTipIcon);
      });

      window.setTimeout(function() {
        if ( !$.trim( $('#idb_iframe_container').html() ).length )
        {
          $('#book-critic-review').remove();
        }
      }, 3000);
    });
  </script>
{% endblock %}


<style>
                    /*Overall container*/
                    #idb_main{
                      float:left;
                      font-family:Arial, Helvetica, sans-serif;
                      background-color:#fff;
                      }

                      #idb_main h1{
                        margin:0px;   
                        border-radius:5px;
                        -webkit-border-radius:5px;
                        -moz-border-radius:5px;
                        border:solid 1px #CCCCCC;
                        padding:5px;
                        padding-left:20px;
                        font-size:14px;
                        font-weight:bold;
                        color:#000;
                        border-bottom-width: 2px;
                        border-bottom-color: #666666;
                      }

                      /*Scroll Box for all the reviews*/
                      .scroll_box{
                        float:left;
                        overflow:scroll;
                        overflow-y: auto;
                        overflow-x: hidden;
                      }

                      /*Each review  box*/
                      .review_strip{
                        float:left;
                        padding:5px;
                        width: 100%;
                        margin-top:0px;
                        padding-bottom: 10px;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: #DDDDDD;
                      }

                      /*Publication name*/
                      .review_strip h2{
                        font-size:13px;
                        font-weight:bold;
                        color:#333;
                        margin:0px;
                        padding:0px;
                        padding-top: 2px;
                        padding-left: 2px;
                        float:left; 
                      }
                      .review_strip h2.linked{
                        background:url(../images/light-grey-plus-32.png) left no-repeat;
                        background-size:12px 12px;
                        font-size:13px;
                        font-weight:bold;
                        color:#333;
                        margin:0px;
                        padding:0px;
                        padding-top: 2px;
                        padding-left: 18px;
                        float:left;    
                      }

                      /*Publication name link hover*/
                      .review_strip h2.linked:hover{
                        color:#e84f4f;;
                      }
                      a.tooltip {outline:none; } a.tooltip strong {line-height:10px;} a.tooltip:hover {text-decoration:none;} a.tooltip span { z-index:10;display:none; padding:5px 5px; margin-top:0px; margin-left:50px; line-height:10px; } a.tooltip:hover span{ display:inline; position:absolute; border:0px solid #FFF; color:#EEE; background:#000 url(../images/css-tooltip-gradient-bg.png) repeat-x 0 0; } .callout {z-index:20;position:absolute;border:0;top:-8px;left:20px;} /*CSS3 extras*/ a.tooltip span { border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: 0px 0px 8px 4px #666; -webkit-box-shadow: 0px 0px 8px 4px #666; box-shadow: 0px 0px 8px 4px #666; opacity: 0.8; }


                      /*Review Date*/
                      .review_time{
                        float:left;
                        margin-left:15px;
                        font-size:12px;
                        padding-top: 2px;
                        color:#999999;
                      }

                      /*Review smiley or sentiment (only displays if smiley option is set to true in widget script)*/
                      .review_sentiment{
                        float:right;
                        margin-right:15px;
                        font-size:12px; 
                      }

                      /*Review snippet text*/
                      .review_strip p{
                        color:#333;
                        margin:0px;
                        padding:0px;
                        font-size:12px;
                        line-height:22px;
                        padding-bottom:10px;
                        width:90%;
                        clear:both;
                        text-align: justify;
                      }

                      .scroll_box h4{margin:2px;}
                      .scroll_box a{margin:2px;font-size:12px; color:#64717A;outline:none; text-decoration:none;}
                      .scroll_box a:hover{color:#e84f4f;}
                      /*.biography-block {background:url(../images/dot-sep.jpg)    left top repeat-x; padding:18px 0;}*/

                      .biography-thumb-wrap {float:left; margin-right:14px;margin-top:10px;}
                      /*.biography-thumb {width:169px; height:195px; background-color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; text-align:center; padding-top:10px; margin-bottom:9px;height:auto;}*/
                      .biography-thumb img {display: inline-block; height: 70px; left: 0px; top: 0px; width: 50px;}
                      /*.biography-thumb span {display:none; position:absolute;margin-top:100px; z-index:100; width:149px;  font-family:"DroidSansBold"; font-size:14px; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; }*/
                      /*.biography-thumb span img {display:none; position:absolute; z-index:100;width:80px; height:70px; left:80px; top:100; font-family:"DroidSansBold"; font-size:14px; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; padding-top:40px;}*/

                      .biography-r {overflow:hidden;}
                      .biography-r h3 { font-size:14px; font-weight:normal; padding: 10px 0px 5px 0px;margin:0px;}
                      .biography-r h5 { font-size:10px; font-weight:normal; padding:  0px 0px 5px 0px;margin:0px;}
                      .biography-r p { font-size:14px; }
                      .biography-r a {outline:none; text-decoration:none;}
                      .link8 {font-size:12px; color:#64717A;}
                      .link8:hover {color:#e84f4f;}

                      .smileygreen {background:url(../images/embed/smiley-cloud-green1.png);}
                      .smileygrey {background:url(../images/embed/smiley-cloud-grey1.png);}

                      .smileygreen, .smileygrey {background-size: 24px 14px; background-position: 0px 0px; background-repeat: no-repeat; padding-left: 28px;  height:15px; margin-top: 3px; font-size: 11px; }

</style>


