{% extends 'base.html' %}

{% block content %}
<div class='jumbotron'>
  <div class='container'>

    <h3 style='padding-bottom: 1em;'> About BookBrain</h3>
    <p id='about-us-description'>
      The goal of BookBrain is simple: BookBrain will show users internet-aggregated ratings for books and provide book recommendations based on these ratings and genres. Usually when someone is trying to decide whether or not they want to read a book, they might do a Google search and be faced with many websites offering mixed reviews—one might display only one review with a 3/3 star rating and another might have hundreds of reviews with an average rating of 4.3 out of 5 stars. Furthermore, some of these sites might not even have reviews or ratings for books that just were just recently published. Our website would simplify the book recommendation experience for the user by compiling reviews from different merchant websites, social media feeds, and news feeds as well as providing trendy information about a book all on a single page. By doing this, we hope to give our users a more holistic review of the book based on overall internet reviews and trendiness.
    </p>

    <p id='about-us-users'>
      The target demographic for BookBrain fall under two categories—someone that is looking for a new book to read and wants suggestions based off of genre and internet popularity or someone that is looking to purchase a specific book and would like ratings and reviews from many different internet sources aggregated in one place.
    </p>
  </div>

  <br>
  <hr class='centered' style='max-width: 56%; padding: 1em;'>

  <div class='container'>

    <h3> The BookBrain Team </h3>
    <p id='about-us-team-description'>
      We are EE 461L Team Eagles made up of Wesley Klock, Hiep Nguyen, Michael Flanders, Kunpeng Qin, Nabil Khan, and Nelson Levy.
    </p>

    <h5> Bios </h5>
    <ul class='list-group'>
      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src="static/michael.jpg" alt="Michael">
          </div>
          <div class='col-xl align-middle'>
            <p>
              Michael Flanders is a Junior at The University of Texas at Austin majoring in Electrical and Computer Engineering. Responsibilities: FrontEnd/Testing.
            </p>
            <p>
              16 commits.
            </p>
          </div>
        </div>
      </li>

      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src='static/hiep.jpg' alt='Hiep'>
          </div>
          <div class='col-xl align-middle'>
            <p>
              My name is Hiep Nguyen, I am currently a Junior majoring in ECE at The University of Texas at Austin. Responsibilties: Scraping.
            </p>
            <p>
              2 commits.
            </p>
          </div>
        </div>
      </li>

      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src='static/wesley.png' alt='Wesley'>
          </div>
          <div class='col-xl align-middle'>
            <p>
              Wesley Klock -  I am currently a Junior at the University of Texas at Austin, I like reading books, playing board games, and watching foreign film  in my free time. Responsibilities: FrontEnd/Testing.
            </p>
            <p>
              6 commits.
            </p>
          </div>
        </div>
      </li>

      <li class='list-group-item'>

        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src='static/nelsonreal.jpg' alt='Nelson'>
          </div>
          <div class='col-xl align-middle'>
            <p>
              Nelson Levy - I am currently a Junior at the University of Texas at Austin, majoring in Electrical and Computer Engineering. Responsibilities: Scraping.
            </p>
            <p>
              0 commits.
            </p>
          </div>
        </div>
      </li>

      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src='static/kunpeng.jpg' alt='Kunpeng'>
          </div>
          <div class='col-xl align-middle'>
            <p>
              My name is Kunpeng Qin, I am currently a Senior majoring in ECE at The University of Texas at Austin. Responsibilities: BackEnd/Database.
            </p>
            <p>
              4 commits.
            </p>
          </div>
        </div>
      </li>

      <li class='list-group-item'>
        <div class='row'>
          <div class='col-2 align-middle text-center'>
            <img style='max-width: 10em;' src='static/nabil.png' alt='Nabil'>
          </div>
          <div class='col-xl align-middle'>
            <p>
              My name is Nabil Khan, I am currently a Senior majoring in ECE at The University of Texas at Austin. Responsibitlies: BackEnd/Database.
            </p>
            <p>
              1 commit.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <br>
  <br>
  <hr class='centered' style='max-width: 56%; padding: 2em;'>

  <div id='about-us-sources' class='container'>
    <h3> Sources, Tools, and Github </h3>

      <h5 style='padding-top: 1em'> Sources </h5>
      <ul class='list-group'>
        <li class='list-group-item'>
          For Phase 1 of this project, our only scraper source was <a href='https://www.goodreads.com/'>Goodreads</a>
        </li>
        <li class='list-group-item'>
          We have a detailed documentation of our scrape process on our <a href='https://github.com/Flandini/461L-Eagles/tree/master/scraping'>team Github.</a>
        </li>
      </ul>

      <h5 style='padding-top: 1em';> Tools </h5>
      <ul class='list-group'>
        <li class='list-group-item'>
          FrontEnd - HTML/CSS & Some React.js were used to display our search results, homepage, and basic pages.
        </li>
        <li class='list-group-item'>
          Backend - Flask for our webapp, Pytests for testing, MySQL as our backend database, GCP FireBase for hosting our DB, and a GCP VM for hosting our web app
        </li>
        <li class='list-group-item'>
          Scraper - Python as the language, Selenium for pulling dynamic web-content, python-pandas for saving data as a csv
        </li>
        <li class='list-group-item'>
          Team Coordination - GroupMe, Slack, Github, Google Docs
        </li>
      </ul>
  </div>

  <br>
  <hr class='centered' style='max-width: 56%; padding: 1em;'>

  <div class='container'>
    <h3> Stats </h3>
    <p id='about-us-stats'>
      <ul class='list-group'>
        <li class='list-group-item'>
          <span>Total Commits:</span>
          <span class="badge badge-primary badge-pill">43</span>
        </li>

        <li class='list-group-item'>
          <span>Total Unit Tests:</span>
          <span class="badge badge-primary badge-pill">10</span>
        </li>

        <li class='list-group-item'>
          <span>Total Github Issues:</span>
          <span class="badge badge-primary badge-pill">0</span>
        </li>
      </ul>
    </p>
  </div>

</div>
{% endblock %}
