{% extends 'base.html' %}

{% block content %}
<div class='jumbotron' style='padding-top: 2em;'>


  {% if recently_viewed|length > 0 %}
    <div class='container-fluid' id='recently-viewed-books' style='padding: 5%;'>
      <div class='card'>
        <h4 class='card-header'>Recently Viewed</h4>
        <div class='card-body'>
          <div class='row'>
            {% for book in recently_viewed %}
              <div class='col-sm' style='max-width: 30%';>
                <a href="/book/{{book['books.id']}}">
                  <img src="{{book['cover']}}" alt="RecentlyViewed-BookCover">
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if saved_books|length > 0 %}
    <div class='container-fluid' id='saved-books' style='padding: 5%;'>
      <div class='card'>
        <h4 class='card-header'>My Saved Books</h4>
        <div class='card-body'>
          <div class='row'>
            {% for book in saved_books %}
              <div class='col-sm' style='max-width: 30%';>
                <a href="/book/{{book['books.id']}}">
                  <img src="{{book['cover']}}" alt="RecentlyViewed-BookCover">
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


</div>
{% endblock %}
